:root{
    --width: 300px;
    --height: 200px;
}

.slider {
    display: flex;
    transition: 0.3s;
    height: var(--height);
    align-items: center;
  }
  .slider-wrapper {
    width: var(--width);
    border: 2px solid #999;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    position: relative;
  }
  
  .slide {
    width: 100%;
    height: auto;
  }
  
  .prev, .next {
    position: absolute;
    bottom: 10px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 900;
    cursor: pointer;
    transition: 0.2s;
  }
  .prev:hover, .next:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }